@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


main {
    min-height: calc(114vh - 162px);
   
}
body{
  width: none;
  color: #FEF6E4;
  background-color: #FEF6E4;;
}
main div {
  
    text-align: center;
}

p{
    cursor: default;
    user-select: none;
}


.About {
margin-top: 15px;
text-align: center;
font-family: "League Gothic";
  margin-bottom: -12px; 
}

.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line {
    width: 100px; 
    height: 1px;
    background-color: #000; 
    border-radius: 15px; 
    transform: scaleY(0.1); 
    

  }
  
  .header2{

   font-family: "Inter";
   font-size: 25px;
  }

  .info{
    text-align: left;
    font-size: 20px;
    padding-left: 90px;
   padding-right: 90px;
   margin-bottom: 4rem;
  }

  .info p{
    margin-bottom: 4rem;
  }

  .info h2{
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  .faq  {
    margin-top: 40px;
    text-align: center;
    font-family: "League Gothic";
      margin-bottom: 38px; 
    }

    .wip-header{
      line-height: 50rem;
      font-weight: 700;
      font-family: "League Gothic";
      font-size: 50px;
    }

    .faq h2{
      margin-bottom: 40px;
    }

    .name{
      font-family: "Inter";
      margin-top: -20px;
      font-size: 20px;
    }

    .eye-test-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: calc(114vh - 162px);

    }
    
    .button-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
    
    .square-button {
      width: 40%;
      min-width: 600px;
      max-width: 400px;
      height: 25rem;
      border: 1px solid black;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin: 20px;
    }
    
    .square-button h3 {
      font-size: 1.5em;
      margin-top: -10px;
      margin-bottom: 10px;
      font-family: "Inter";
      font-weight: 700;
    }
    
    .square-button p {
      font-size: 1.3em;
      text-align: center;
      margin-bottom: 10px;
      font-family: "Inter";
      font-weight: 500;
    }
    
    .home-container {
      display: flex;
      flex-direction: column;
      background-color: #FEF6E4;
      align-items: center;
      min-height: calc(114vh - 162px);
    }
    .page-container {
  
      background-color: #FEF6E4;

      min-height: calc(114vh - 162px);
    }

    .main-button {
      min-width: 600px;
      max-width: 500px;
      height: 20rem;

    }

    .main-button h3 {
      font-size: 2.5em;
      justify-content: top;
      margin-top: 20px;
      margin-bottom: 10px;
      font-family: "Poltawski Nowy";
      font-weight: 500;

    }
    
    .main-button p {
      font-size: 1.3em;
      text-align: center;
      
      margin-top: 20px;
      font-family: "Poppins";
    
    }

    .home-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }
    
    .first-button {
 
      min-width: 500px;
      max-width: 960px;
      height: 30rem;
      border: 1px solid black;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin: 20px;
    }

    .first-button h3 {
      font-size: 1.5em;
      justify-content: top;
      margin-top: -10px;
      margin-bottom: 10px;
      font-family: "Inter";
      font-weight: 700;
    }
    
    .first-button p {
      font-size: 1.3em;
      text-align: center;
      
      margin-bottom: 10px;
      font-family: "Inter";
      font-weight: 500;
    }

    .second-button {
   
      min-width: 600px;
      max-width: 720px;
      height: 24.5rem;
      border: 1px solid black;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin: 20px;
      
    }

    .second-button h3 {
      font-size: 1.5em;
      justify-content: top;
      margin-top: -10px;
      margin-bottom: 10px;
      font-family: "Inter";
      font-weight: 700;
    }
    
    .second-button p {
      font-size: 1.3em;
      text-align: center;
      
      margin-bottom: 10px;
      font-family: "Inter";
      font-weight: 500;
    }


    

    .sariling-row{
    
     padding-top: 0;
      display: flex;
      flex-direction: column;

     
     
    }

    .sunbutton span{
      margin-right: 0 !important;
      margin-top: -10 !important;
    }

  


    
    .input-container {
   
      display: inline-block;


    }
    
  

  

    
    .css-mhc70k-MuiGrid-root {
      margin-left: 0 !important;
      }


   
      body {
        perspective:500px;
        background-color:#E0E0E0;
        font-family: 'Roboto', sans-serif;
      
      }
      * {
        box-sizing:border-box;
      }
      
    
      


      .nav-list {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
      }
      
      .nav-item {
        position: relative;
      }
      
      .nav-link {
        text-decoration: none;
        color: #333;
        padding: 10px 15px;
        transition: color 0.3s, text-decoration 0.3s;
      }
      .nav-link-about{
        text-decoration: none;
        color: #333;
        padding: 10px 15px;
        transition: color 0.3s, text-decoration 0.3s;
        cursor: pointer;
      }
      .nav-link-testimonials{
        text-decoration: none;
        color: #333;
        padding: 10px 15px;
        transition: color 0.3s, text-decoration 0.3s;
        cursor: pointer;
      }
      
      .nav-link:hover {
        color: #EE3F24;
        text-decoration: underline;
      }
      
      .dropdown-arrow {
        margin-left: 3px;
        font-size: 0.8em;
      }
      
      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #FEF6E4 !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        list-style: none;
        margin: 0;
        padding: 10px 0;
        z-index: 1000;
      }
      
      .dropdown-menu .dropdown-link {
        display: block;
        text-decoration: none;
        color: #333;
        padding: 8px 9px;
        white-space: nowrap;
        font-size: 0.8em;
      }
      
      .dropdown-menu .dropdown-link:hover {
        background-color: #FEF6E4;
        color: #EE3F24;
      }
      
      .nav-item:hover .dropdown-menu {
        display: block;
      }
      
      .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #EE3F24;
        transition: width 0.3s;
      }
      
      .nav-link:hover::after {
        width: 100%;
      }

      .banner-image {
        width: 100%; 
        height: auto; 
        padding: 0px !important;
        background-size: cover;
        background-position: center;
      }
      .life-image {
        width: 100%; 
        height: auto; 
        padding: 0px !important;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
      }
      .lifetext{
        font-family: "Poppins";
        position: absolute;
        top: 40em;
        display: block;
        width: 43%;
        z-index: 1;
        font-weight: 500;
      }
      .footer-image {
        width: 100%; 
        height: auto; 
        padding: 0px !important;
        background-size: cover;
        background-position: center;
      }

      .story-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fdf4e5; 
        padding: 40px;
        border-radius: 12px;
      }
      
      .story-content {
        display: flex;
        gap: 100px;
        max-width: 1000px;
      }
      
      .story-text {
     
        font-family: 'Poppins';
        font-size: 16px;
       
        color: #333;
        margin-top: 90px;
        text-shadow: 1px;
        text-align: justify;
      }
      
      .story-image-container {
        text-align: center;
      }
      
      .story-image {
        width: 20em;
        height: 30em;
        border-radius: 12px;
      }
      
      .story-caption {
        margin-top: 8px;
        font-size: 14px;
        color: #555;
        font-style: italic;
      }

      .mission-image{
        width: 21em;
        height: 25em;
        border-radius: 12px;
      }
      .org-image{
        width: 23em;
        height: 25em;
        border-radius: 12px;
      }
      .organization-image{
        width: 20em;
        height: 30em;
        border-radius: 12px;
      }

      .ph{
        text-align: left;
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 25px;
      }

      .team-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        padding: 20px;
      }
      
      .team-card {
        text-align: center;
        padding: 10px;

      }
      
      .image-placeholder {
        width: 300px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        border-radius: 8px;
        background-size: cover;

      }
      
      .profile-1 {
        background-image: url("../img/1.jpg");
      }
      
      .profile-2 {
        background-image: url("../img/noci.jpg");
      }
      
      .profile-3 {
        background-image: url("../img/gatela.jpg");
      }
      
      .profile-4 {
        background-image: url("../img/father.png");
      }
      .profile-5 {
        background-image: url("../img/mangulad.jpg");
      }
      .profile-6 {
        background-image: url("../img/father.png");
      }
      .profile-7 {
        background-image: url("../img/velasco.jpg");
      }
      .profile-8 {
        background-image: url("../img/hya.jpg");
      }
      .profile-9 {
        background-image: url("../img/jason.jpg");
      }
      .profile-10 {
        background-image: url("../img/father.png");
      }
      .profile-11 {
        background-image: url("../img/Emil.jpg");
      }
      .profile-12 {
        background-image: url("../img/june.jpg");
      }
      .profile-13 {
        background-image: url("../img/father.png");
      }
      .profile-14 {
        background-image: url("../img/father.png");
      }
      .profile-15 {
        background-image: url("../img/father.png");
      }
      .profile-16 {
        background-image: url("../img/rocella.jpg");
      }
      
      
      .default-avatar {
        width: 80px;
        height: 80px;
        background-color: #ccc;
        border-radius: 50%;
      }
      
      .team-name {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
      }
      
      .team-subtext {
        font-size: 14px;
        color: #666;
      }

      .introduction{
        padding: 5rem;
        text-align: left;
        margin-top: 50px;
      }
      .Testimonial{
        font-family: "Poltawski Nowy";
        font-weight: 600;
        font-size: 3rem;
      }
      .h4-testimonial{
        font-family: "Poppins";
        font-weight: 400;
        margin-top: 25px;
      }

      .map{
        font-family: "Poltawski Nowy";
        text-align: left;
      }

     .footerbanner{
      font-family: "Poltawski Nowy";
      text-align: left;
      position: absolute;
      top: 20rem;
      font-size: 4rem;
      
     }
     .h3-footerbanner{
      font-family: "Poppins";
      text-align: left;
      font-size: 1.2rem;
      position: absolute;
      top: 28.5rem;
      font-weight: 400;
      width: 45rem;
 
     }
     .footerimage{
      width: 100%;
      position: relative;
     }
     .footertext{
     
      margin-left: 8rem;
     }
     .h3-donatebutton{
      font-family: "Poppins";
      text-align: left;
      font-size: 1.2rem;
      position: absolute;
      top: 35.5rem;
      font-weight: 400;
      width: 45rem;
      margin-left: 15px;
     }

     .app-container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px 0;
    }
    
    .tabs {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    
    .tab-button {
      padding: 10px 20px;
      margin: 0 5px;
      border: none;
      background-color: transparent;
      color: #333;
      font-size: 16px;
      font-family: "Poppins";
      cursor: pointer;
      position: relative;
      text-transform: uppercase;
    }
    
    .tab-button::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 3px;
      background-color: #EE3F24;
      transition: width 0.3s ease;
    }
    
    .tab-button.active::after {
      width: 100%;
    }
    
    .tab-button:hover {
      color: #EE3F24;
    }
    
    .image-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 15px;
    }
    
    .image-wrapper {
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .gallery-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease;
    }
    
    .gallery-image:hover {
      transform: scale(1.05);
    }


    .firstSection{
      width: 60rem;
      margin-left: 100px;
    }
    .inquiry{
      display: flex;
     flex-wrap: nowrap;
     float: left;
     margin-top: 100px;
    }
    .inquiry > div {
 
      width: 100%;
    
      text-align: center;
   
      font-size: 30px;
    }

    .inquiry h4{
      font-size: 1.3rem;
    }

    .inquiry p{
      font-size: 1.1rem;
    }

    .contact{
      text-align: left;
      font-size: 4rem;
      font-family: "Poppins";
    }
    .ContactUs{
      display: table-footer-group;
    }

    .contactp{
      text-align: left;
      font-family: "Poppins";
      width: 25rem;
      margin-top: 20px;
    }

    .inq{
      text-align: left;

    }
    .inqp{
      margin-top: 20px;
      text-align: left;
      font-family: "Poppins";
      width: 15rem;
      margin-right: 30px;
      font-weight: 300;
    }
    .contactc{
      margin-top: 20px;

      font-family: "Poppins";
      width: 15rem;
      margin-right: 30px;
      text-align: left;
      display: flex;
      color: #000;
    }

    /* fundraising */

    .fund-container {
      background-color: #FEF6E4;
      padding: 1rem;
      min-height: calc(114vh - 162px);
    }

    .fundraising-section {
      background: linear-gradient(148deg, #FF6953 0%, #E16250 50%, #993F32 100%);
      padding: 5rem;
      border-radius: 20px;
      text-align: center;
      color: #4a4a4a;
      font-family: 'Arial', sans-serif;
    }
    
    .fundraising-section h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-family: "Poltawski Nowy";
    }
    
    .fundraising-section .highlight {
      font-weight: bold;
      color: #ffff;
    }
    
    .cards-container {
      display: flex;
      justify-content: center;
      gap: 10rem;
    }
    
    .cards {
      background-color: transparent !important;
      border-radius: 15px;
      border: none !important;
      padding: 1rem;
      width: 300px;
      text-align: center;
    }
    
    .cards .emoji {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    
    .cards h3 {
      font-size: 1.2rem;
      color: #5F241E;
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;
      font-weight: 500;
      font-family: "Poppins";
      font-style: bold;
    }
    
    .cards p {
      margin-top: 1rem;
      font-size: 0.9rem;
      color: #5F241E;
      font-family: "Poppins";
    }
    .cards .icon {
      width: 15rem; 
      height: 15rem;
      object-fit: contain; 
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .cards .socialicon {
      width: 15rem; 
      height: 15rem;
      object-fit: contain; 
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    /* highlights */
    .h1Featured{
      text-align: left;
      
      margin-bottom: 2rem;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 1.5em;
    }
    .mainfeatured{
      display: grid;
      justify-items: flex-start ;
      justify-content: center;
    }
    .featured-highlights {
      padding: 2rem;
      font-family: Arial, sans-serif;
    }
    
    .highlights-header {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      gap: 5rem;
      align-items: center;
    }
    .highlightstext{
      text-align: left;
    }
    
    .highlights-header h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      margin-bottom: 1rem;
      font-family: 'Poppins';
      font-weight: bold;
    }
    
    .highlights-header p {
      font-size: 1.2rem; 
      margin-bottom: 1rem;
      font-family: 'Poppins';
      font-weight: 600;
      width: 25rem;
    }
    .highlights-header .explore{
      font-size: 1.2rem;
      margin-bottom: 3rem;
      font-family: 'Poppins';
      font-weight: 400;
      color: #696969;
      width: 28rem;
    }
    
    .highlights-header .report-link {
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease;
      color: #000 !important;
      font-family: "Poppins";
    }
    .highlights-header .report-link:hover {
      transition: all 0.3s ease;
      color: #ff0000;
    }
    
    .highlights-grid {
      display: flex;
      gap: 5rem;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 2rem;
    }
    
    .highlight-card {
 
      border-radius: 10px;
      overflow: hidden;
      width: 300px;
      text-align: left;
    }
    .highlightbg{
      width: 100%;
      height: 20rem;
    }
    
    .card-image {
      width: 100%;
      height: 230px;
      object-fit: cover;
      border-radius: 20px;
    }
    
    .card-title {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 0.5rem;
      font-family: 'Poppins';
    }
    
    .card-description {
      font-size: 1rem;
      color: #555;
      margin: 0.5rem;
      font-family: 'Poppins';
    }
    
    .card-link {
      display: block;
      margin: 0.5rem;
      color: #000;
      text-decoration: none;
      font-weight: 600;
      font-family: 'Poppins';
    }
    
    /* homepage-cards */
    .firstcards{
      display: flex;
      justify-content: center;
      align-items: self-end;
      gap: 5px;
    }
    .firstsection-card{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .firstsection-card img{
      display: block;
    }
    .firstcard-text{
      position: absolute;
    
      color: white;
      font-family: "Poppins";
      width: 18rem;
      position-area: center;
      bottom: 15rem;
      text-align: left;
    }
    .firstcard-text h1{
      font-size: 5rem;
    }
    .firstcard-text p{
      font-size: 1.2rem;
      font-weight: 200;
    }
    .secondsection-card{
      display: flex;
      flex-direction: column;
      margin-left: 8px;
    }
    .thirdsection-card{
      position: relative;
    }
    .thirdcard-text{
      position: absolute;
      
      color: white;
      font-family: "Poppins";
      width: 18rem;
      position-area: center;
     
      text-align: left;
    }
    .thirdsection-card img{
      display: block;
    }

    .thirdcard-text h3{
      position: absolute;
      bottom: 10rem;
      font-size: 1.5rem;
    }
    .thirdcard-text p{
      position: absolute;
      top: 3rem;
      font-size: 2.5rem;
    }
    .fourthcard-text{
      position: absolute;
      font-size: 2.5rem;
      color: rgb(0, 0, 0);
      font-family: "Poltawski Nowy";
      width: 18rem;
      position-area: center;
      text-align: center;
    }

    .firstcard{
      width: 100%;
      height: 30rem;
  
    }
    .secondcard{
      width: 100%;
      height: 11rem;      
   
      left: 0;
    }
    .thirdcard{
      width: auto;
      height: 30rem;
    }
    .fourthcard{
      width: auto;
      height: 20rem;
    }
    .fifthcard{
      width: auto;
      height: 30rem;
    }
    .sixthcard{
      width: 100%;
      height: 30rem;
    }
    .seventhcard{
      width: 100%;
      height: 11rem;      

    }

    /* contact page */

    .contact-container{
      background-color: #FEF6E4;
      min-height: calc(114vh - 162px);
      padding: 30px;

    }
    .form-container {
      position: top right;
    }

    .contact-form {
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 15px;
      width: 550px;
      text-align: center;
      position: fixed; 
      top: 200px;       
      right: 50px;   
      z-index: 1000; 
    
    }
    
    .contact-form h2 {
      font-size: 1.5em;
      color: #000;
      text-align: left;
      font-family: "Poppins";
      padding: 20px;
    }
    
    .contact-form p {
      color: #666;
      margin-bottom: 15px;
      text-align: left;
      font-family: "Poppins";
      padding-left: 20px;
    }
    .contact-submit-button{
      border-radius: 15px;
      width: auto;
      font-family: "Poppins";
      font-size: 1rem;
    }
    
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      font-family: "Poppins";
      font-size: 1rem;
    }
    .phone-group{
      font-family: "Poppins";
      font-size: 1rem;
    }
    
    .form-group input,
    .input[type='text'],
    .form-group select,
    .form-group textarea {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1em;
      margin-bottom: 5px;
      width: 100% !important;
      text-align: left;
      font-family: "Poppins";
    }
    
    .form-group textarea {
      resize: none;
      height: 60px;
    }
    
    .char-count {
      text-align: right;
      font-size: 0.8em;
      color: #888;
    }
    
    button {
      display: inline-block;
      background-color: #FF3D00;
      color: white; 
      font-size: 1rem;
      padding: 10px 150px; 
      border: none;
      border-radius: 50px; 
      cursor: pointer; 
      transition: background-color 0.3s ease;
      text-align: center;
    }
    
    .contact-submit-button:hover {
      background-color: #e64a19;
    }
    
    .terms {
      font-size: 0.8em;
      color: #888;
      margin-top: 10px;
    }
    
    .terms a {
      color: black;
      text-decoration: none;
    }
    
    .terms a:hover {
      text-decoration: underline;
    }

    .name-group {
      display: flex;
   
      margin-bottom: 15px;
      font-family: "Poppins";
      font-size: 1rem;
    }

    .location-image {
      width: 100%; 
      height: auto; 
      padding: 0px !important;
      background-size: cover;
      background-position: center;
    }
    .secondSection{
      min-height: calc(114vh - 162px);
     
     
    }
    .location{
      margin-top: 5rem;
      display: inline-flex;
      gap: 5rem;
    }
    .location h1{
      font-size: 3rem;
      text-align: left;
      font-family: "Poppins";
      font-weight: 300;
      width: 50rem;
    }
    .location h3{
      font-size: 1.2rem;
      text-align: left;
      font-family: "Poppins";
    }
    .location h6{
      font-size: 1.1rem;
      text-align: left;
      font-family: "Poppins";
    }
    .location p{
      font-size: 1rem;
      text-align: left;
      font-family: "Poppins";
    }
    .locationtext{
      margin-top: 5rem;
    }
  /* Buttons Main */

  .App{
    margin-right: 230px;




  }

  .App:hover {
    background-color: #00000015;
    color: #f37908;
  }

  .App button {
    color: rgb(226, 17, 17);
    padding: 100px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 100%;
    cursor: pointer;

  }


  .App2{
    margin-left: 230px;
    margin-top: -50px;
    padding: 10px 20px;
  }